@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPPangaia";
  src: url("/Fonts/PPPangaia-Bold.otf") format("opentype"); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PPPangaia", Arial, Helvetica, sans-serif; /* Fallback fonts */
}

@font-face {
  font-family: "Knowhere";
  src: url("/Fonts/Knowhere-PersonalUse.otf") format("opentype"); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* Other CSS variables as you've defined */
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* Other dark mode CSS variables as you've defined */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground; /* Ensure body uses background and text color variables */
  }
}
